@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Press+Start+2P&family=Sacramento&family=VT323&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@font-face {
  font-family: 'Boulder';
  src: url('./assets/fonts/Boulder.ttf') format('truetype');
}

@font-face {
  font-family: 'Brigada';
  src: url('./assets/fonts/Brigada.otf') format('truetype');
}

@font-face {
  font-family: 'beyond';
  src: url('./assets/fonts/beyond.ttf') format('truetype');
}

@font-face {
  font-family: 'Durango';
  src: url('./assets/fonts/Durango.otf') format('truetype');
}

@font-face {
  font-family: 'gyoza';
  src: url('./assets/fonts/gyoza.otf') format('truetype');
}

@font-face {
  font-family: 'kerod';
  src: url('./assets/fonts/kerod.otf') format('truetype');
}

@font-face {
  font-family: 'midorima';
  src: url('./assets/fonts/midorima.ttf') format('truetype');
}
@font-face {
  font-family: 'mike';
  src: url('./assets/fonts/mike.otf') format('truetype');
}
@font-face {
  font-family: 'noctaOutline';
  src: url('./assets/fonts/NoctraDrip-OutlineMelt.ttf') format('truetype');
}
@font-face {
  font-family: 'noctaSolid';
  src: url('./assets/fonts/NoctraDrip-SolidMelt.ttf') format('truetype');
}
@font-face {
  font-family: 'pcme';
  src: url('./assets/fonts/Pcme.otf') format('truetype');
}
@font-face {
  font-family: 'rengkox';
  src: url('./assets/fonts/rengkox.otf') format('truetype');
}

@font-face {
  font-family: 'newton';
  src: url('./assets/fonts/Newton.otf') format('truetype');
}




.neo-pop-tilted-button::before,
.neo-pop-tilted-button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 60%;
  width: 35%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 5px,
    rgba(255, 255, 255, 0) 5px,
    rgba(255, 255, 255, 0) 10px,
    rgba(255, 255, 255, 1) 2px
  );
  animation: shimmer 5.5s infinite linear;
  z-index: 0;
}

@keyframes shimmer {
  0% {
    transform: translateX(-1950%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Focus styles */
.neo-pop-tilted-button:focus {
  outline: none;
}

.neo-pop-tilted-button:focus-visible {
  box-shadow: 0 0 0 3px rgba(255, 235, 52, 0.5);
}

.neo-pop-tilted-button:active {
  transform: perspective(170px) rotateX(36deg) translateY(5px);
}


.btn:active .front {
  transform: translateY(0%) !important;
  box-shadow: none !important;
}


.button-border {
  border: 8px solid #ffae70;
  outline: 4px solid;
}

@keyframes short-bounce {
  0%, 100% {
    transform: translateY(-15px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}